{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-file-alt"></i>
                    </div>
                    <div class="mr-5">{{ text_count }} Texts</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ url_for('text.index') }}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-secondary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">{{ rationale_count }} Rationales</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ url_for('rationale.index') }}">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Texts / labels
                </div>
                <div class="card-body">
                    <canvas id="textsBarChart" width="100%" height="50"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Rationales / labels
                </div>
                <div class="card-body">
                    <canvas id="rationalesBarChart" width="100%" height="50"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}