{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% block title %}Texts{% endblock %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="textsDataTable"></table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $AJAX_TEXTS_URL = {{ url_for('text.get_texts')|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='texts.js') }}"></script>
{% endblock %}