{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-comment"></i>
            {% block title %}Justify Text #{{ text.id }}{% endblock %}
        </div>
        <div class="card-body text-justify">
            <p><span class="font-weight-bold">File path:</span> {{ text.fpath }}</p>
            <p><span class="font-weight-bold">Label:</span> {{ text.label }}</p>
            <form method="post">
                <div class="form-group">
                    {{ rationale.get_form()|safe }}
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
{% endblock %}