{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-file-alt"></i>
            {% block title %}Text #{{ text.id }}{% endblock %}
        </div>
        <div class="card-body">
            <p><span class="font-weight-bold">File path:</span> {{ text.fpath }}</p>
            <p><span class="font-weight-bold">Label:</span> {{ text.label }}</p>
        </div>
    </div>
    {% for rationale in text.rationales %}
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-comment"></i>
                Rationale #{{ rationale.id }}
            </div>
            <div class="card-body text-justify">
                {{ rationale.get_show()|safe }}
            </div>
            <div class="card-footer small text-muted">Created by {{ rationale.user }}</div>
        </div>
    {% else %}
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-file-alt"></i>
                Raw content
            </div>
            <div class="card-body text-justify">
                {{ text.get_content() }}
            </div>
        </div>
    {% endfor %}
{% endblock %}